<span [formGroup]="inventoryForm">
  <span formArrayName="pages">
    <span [formGroupName]="idxPage">
      <span formArrayName="categories">
        <span [formGroupName]="categoryIdx" *ngIf="categoryIdx >= 0">

          <span *ngIf="isHide">
            <ion-item-divider sticky="true">
              <ion-col class="categoryTitle" size="5">
                <ion-label><b>{{ categoryName.value }}</b></ion-label>
              </ion-col>
              <ion-col size="2"></ion-col>
              <ion-col size="1"></ion-col>
              <ion-col size="3"></ion-col>
              <ion-col size="1">
                <ion-button color="light" shape="round" size="small" (click)="toggleHide()">
                  <ion-icon name="chevron-down-outline"></ion-icon>
                </ion-button>
              </ion-col> 
            </ion-item-divider>
          </span> 
          <span *ngIf="!isHide">

          
          <ion-item-divider sticky="true">
            <ion-col class="categoryTitle" size="5">
              <ion-label><b>{{ categoryName.value }}</b></ion-label>
            </ion-col>
            <ion-col size="2">Is needed?</ion-col>
            <ion-col size="1">Quantity</ion-col>
            <ion-col size="3">Unit</ion-col>
            <ion-col size="1">
              <ion-button color="light" shape="round" size="small" (click)="toggleHide()">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-col> 
          </ion-item-divider>
          <hr>
          <div formArrayName="items">
  
            <ion-item color="light" *ngFor="let item of categoryItems.controls; let itemIdx = index" [formGroupName]="itemIdx">
              <ion-col size="5">
                <b>{{item.value.showName}}:</b>
              </ion-col>
              <ion-col size="2" class="unitCol" >
                <ion-toggle color="primary" formControlName="isNeeded" (ionChange)="changeCheckNeeded(itemIdx)"></ion-toggle>
              </ion-col>
              <ion-col size="1">
                <ion-item class="itemInput">
                  <ion-input type="number" inputmode="numeric" formControlName="quantity" (ionChange)="setLocalStorageInventory()"></ion-input>
                </ion-item>                      
              </ion-col>
              <ion-col size="3" class="unitCol"><b>{{item.value.unit}}</b></ion-col>
              <ion-col size="1"></ion-col>
            </ion-item>
              </div>
          </span>
        </span>
      </span>
    </span>
  </span>
</span>