  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button color="medium" (click)="cancel()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
      <ion-title>{{ tittleToolbar1 }} </ion-title>
    </ion-toolbar> 
  </ion-header>
  
  <ion-content [formGroup]="pageForm">
    <ion-item color="light">
      <ion-label position="floating" clearInput="true"><b>Page name:</b></ion-label>
      <ion-input formControlName="name"></ion-input>
      <div *ngIf="pageName.invalid && (pageName.dirty || pageName.touched)">
        <p class="requiredMsg"> Its required!!</p>
        </div>
    </ion-item><br>
    <ion-list formArrayName="categories">
        <ion-item-divider class="categoryTitle" line="false">Categories</ion-item-divider>
        <ion-item color="light" *ngFor="let category of pageCategories.controls; let i = index" [formGroupName]="i">
          <ion-col size="1"></ion-col>
          <ion-col size="2">
            Name:
          </ion-col>
          <ion-col size="4">
            <ion-item class="itemInput">
              <ion-input formControlName="category"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <div *ngIf="category.get('category').invalid && (category.get('category').dirty || category.get('category').touched)">
            <p class="requiredMsg"> Its required!!</p>
            </div>
          </ion-col>
          <ion-col size="1" class="ion-aling-self-end" (click)="deleteCategory(i)" *ngIf="category.get('items')['controls'].length == 0">
              <ion-icon size="big" color="danger" name="trash-outline"></ion-icon>
          </ion-col>
        </ion-item>
        <ion-item color="light">
          <ion-button color="primary" (click)="addCategory()"> add +</ion-button>
        </ion-item>
    </ion-list>
      <ion-button class="cancelButton" color="danger" (click)="cancel()" >Cancel</ion-button>
      <ion-button class="saveButton" color="success" (click)="saveChanges()" >Save</ion-button>  
  </ion-content>

