<app-form-toolbar [tittleToolbar]="tittleToolbar" [urlBack]="urlBack" (clearForm)="deleteProgress()"></app-form-toolbar>


<!-- <pre *ngIf="inventoryForm">
  {{ inventoryForm.value | json }}
</pre> -->
<ion-content [formGroup]="inventoryForm" *ngIf="inventoryForm">
  <ion-slides scrollbar="true" [options]="{allowTouchMove: false}" #slides formArrayName="pages">
    <ion-slide *ngFor="let pageForm of pagesInv.controls; let pageIdx = index" [formGroupName]="pageIdx">
      <!-- Default Searchbar -->
<ion-searchbar></ion-searchbar>

<!-- Searchbar with cancel button always shown -->
<ion-searchbar showCancelButton="always"></ion-searchbar>

<!-- Searchbar with cancel button never shown -->
<ion-searchbar showCancelButton="never"></ion-searchbar>

<!-- Searchbar with cancel button shown on focus -->
<ion-searchbar showCancelButton="focus"></ion-searchbar>

<!-- Searchbar with danger color -->
<ion-searchbar color="danger"></ion-searchbar>

<!-- Searchbar with value -->
<ion-searchbar value="Ionic"></ion-searchbar>

<!-- Searchbar with telephone type -->
<ion-searchbar type="tel"></ion-searchbar>

<!-- Searchbar with numeric inputmode -->
<ion-searchbar inputmode="numeric"></ion-searchbar>

<!-- Searchbar disabled -->
<ion-searchbar disabled="true"></ion-searchbar>

<!-- Searchbar with a cancel button and custom cancel button text -->
<ion-searchbar showCancelButton="focus" cancelButtonText="Custom Cancel"></ion-searchbar>

<!-- Searchbar with a custom debounce -->
<ion-searchbar debounce="500"></ion-searchbar>

<!-- Animated Searchbar -->
<ion-searchbar animated></ion-searchbar>

<!-- Searchbar with a placeholder -->
<ion-searchbar placeholder="Filter Schedules"></ion-searchbar>

<!-- Searchbar in a Toolbar -->
<ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-toolbar>
      <!-- <div *ngIf="pageIdx != pagesInv.controls.length - 1 ">
        <ion-toolbar class="slide-title">
          <ion-title>{{pageForm.value.name | titlecase}}</ion-title>
        </ion-toolbar>
        <ion-list class="itemList" formArrayName="categories" *ngIf="pageIdx === slidePosition">        
          
          <div *ngFor="let categoryStructure of inventoryStructure.pages[pageIdx].categories; let categoryIdx = index" [formGroupName]="categoryIdx">
            <span *ngIf="categoryStructure.items.length > 0">
              <span *ngIf="categoryStructure.formStyle === formStyleEnum.InputPlusSlider && categoryStructure.items.length > 0">
                <app-inv-input-slider-form [inventoryForm]="inventoryForm" [pageIdx]="pageIdx" [categoryIdx]="categoryIdx" (setLS)="setLocalStorageInventory()"></app-inv-input-slider-form>
              </span> 
            </span>
          </div>
        </ion-list>
      </div>
      <div *ngIf="pageIdx == pagesInv.controls.length - 1" >
        <ion-toolbar class="slide-title">
          <ion-title>{{pageForm.value.name | titlecase}}</ion-title>
        </ion-toolbar>
        <ion-item class="finalTextArea">
          <ion-label>Observations:</ion-label>
          <ion-textarea formControlName="observation" rows="6" cols="20" placeholder="Enter any note here..."></ion-textarea>
        </ion-item>
        <br>

        <ion-button class="deleteButton" color="danger" (click)="deleteProgress()"><ion-icon name="trash-outline"></ion-icon> <span style="padding-left:5px"></span> Clear Form</ion-button>
        <ion-button class="saveButton" color="success" (click)="saveInventory()"><ion-icon name="cloud-upload-outline"></ion-icon> <span style="padding-left:5px"></span> Save Inventory</ion-button>
        
      </div> -->
    </ion-slide>
  </ion-slides>
      <ion-footer>
        <ion-toolbar>
            <ion-button size="small" slot="start" class="prevButton" color="light" (click)="prev()" *ngIf="slidesButtonStatus[0].active">
              <ion-icon name="chevron-back-outline"></ion-icon>
              {{ slidesButtonStatus[0].text }}
            </ion-button>
            <ion-button size="small" slot="end" class="nextButton" color="light" icon="chevron-down"(click)="next()" *ngIf="slidesButtonStatus[1].active">
              {{ slidesButtonStatus[1].text}}
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
        </ion-toolbar>
      </ion-footer>
</ion-content>
