<app-toolbar [tittleToolbar]="tittleToolbar" [urlBack]="urlBack"></app-toolbar>

<ion-content [formGroup]="inventoryForm">
  <!-- <pre>
    Estado del formulario: {{ inventoryForm.valid }}
    <br>
    Status: {{ inventoryForm.status }}
  </pre>-->
  <!-- <pre>
    {{ inventoryForm.value | json }}
  </pre> -->

  <ion-slides scrollbar="true" [options]="{allowTouchMove: false}" #slides formArrayName="pages">
    <ion-slide *ngFor="let page of pagesInv.controls; let i = index" [formGroupName]="i">
      <div *ngIf="i != pagesInv.controls.length - 1 ">
        <ion-toolbar class="slide-title">
          <ion-title>{{page.value.name | titlecase}}</ion-title>
        </ion-toolbar>

        <ion-list class="itemList" formArrayName="categories">
          <div *ngFor="let pageCategory of pagesInv.controls[i].get('categories').controls; let j = index" [formGroupName]="j">
            <ion-item-divider sticky="true">
              <ion-col class="categoryTitle" size="2">
                <ion-label><b>{{ pageCategory.value.category }}</b></ion-label>
              </ion-col>
              <ion-col size="1">Quantity</ion-col>
              <ion-col size="2">Unit</ion-col>
              <ion-col size="6">Quantity</ion-col>
            </ion-item-divider>
            <hr>
            <div formArrayName="items">

              <ion-item color="light" *ngFor="let item of pagesInv.controls[i].get('categories').controls[j].get('items').controls; let k = index" [formGroupName]="k">
                <ion-col size="2">
                  <b>{{item.value.showName}}:</b>
                </ion-col>
                <ion-col size="1">
                  <ion-item class="itemInput">
                    <ion-input type="number" inputmode="numeric" formControlName="quantity" (ionChange)="inputChange(i,j,k)"></ion-input>
                  </ion-item>                      
                </ion-col>
                <ion-col size="2" class="unitCol" >
                  <b>{{item.value.unit}}</b>
                </ion-col>
                <ion-col class="ion-align-self-end"  size="6">
                  <ion-range color="primary" pin="true" min="0" max="14" step="1" snaps="true" formControlName="rangeQuantity" (ionChange)="rangeChange(i,j,k)">
                    <ion-label slot="start">0</ion-label>
                    <ion-label slot="end">14</ion-label>
                  </ion-range>
                </ion-col>
              </ion-item>
                </div>

          </div>
        </ion-list>
      </div>


      <div *ngIf="i == pagesInv.controls.length - 1 ">
        <ion-toolbar class="slide-title">
          <ion-title>{{page.value.name | titlecase}}</ion-title>
        </ion-toolbar>
        <ion-item class="finalTextArea">
          <ion-label>Notes:</ion-label>
          <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
        </ion-item>
        <br>

        <ion-button color="danger" (click)="deleteInventory()"><ion-icon name="trash-bin-outline"></ion-icon> <span style="padding-left:5px"></span> Delete Progress</ion-button>
        <ion-button color="success" (click)="saveInventory()"><ion-icon name="cloud-upload-outline"></ion-icon> <span style="padding-left:5px"></span> Save Inventory</ion-button>
        

      </div>
    </ion-slide>
  </ion-slides>
      <ion-footer>
        <ion-toolbar>
          <ion-buttons>
            <ion-button color="dark" (click)="prev()" *ngIf="slidesButtonStatus[0].active">
              <ion-icon name="chevron-back-outline"></ion-icon>
              {{ slidesButtonStatus[0].text }}
            </ion-button>
            <ion-button color="dark" icon="chevron-down"(click)="next()" *ngIf="slidesButtonStatus[1].active">
              {{ slidesButtonStatus[1].text}}
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-footer>
</ion-content>
