
<ion-content [fullscreen]="true" [formGroup]="stockForm">


  <!-- List of Input Items -->
  <ion-list formArrayName="stockItems">
    <ion-item color="light" *ngFor="let control of stockItems.controls; let i = index" [formGroupName]="i">
      <ion-label>{{control.value.name}}</ion-label>
      <ion-input type="number" inputmode="numeric" formControlName="inputQuantity" (ionChange)="inputChange(i)"></ion-input>
      <ion-range color="danger" pin="true" min="0" max="20" step="1" snaps="true" formControlName="sliderQuantity" (ionChange)="sliderChange(i)"></ion-range>
    </ion-item>
  </ion-list>
  <!-- <hr>
  <pre>
    Estado del formulario: {{ stockForm.valid }}
    <br>
    Status: {{ stockForm.status }}
  </pre>
  
  <pre>
  
    {{ stockForm.value | json }}
  </pre> -->
</ion-content>


    
    <!-- <form [formGroup]="formGrp" class="animated fadeInDown fast"> -->
      <form  class="animated fadeInDown fast">
        <ion-item color="light">
            <ion-label>Store:</ion-label>
            <!-- [interfaceOptions]="customAlertOptions" interface="alert" placeholder="Select One" -->
            <ion-select>
                <ion-select-option>All</ion-select-option>
                <ion-select-option>Riverside</ion-select-option>
                <ion-select-option>Homewood</ion-select-option>
                <ion-select-option>La Grange</ion-select-option>
            </ion-select>
            <!-- <ion-select multiple="true" cancelText="Cancelar" okText="Aceptar" [value]=filterArray #asd (ionChange)="onChange(asd.value)">
                <ion-select-option *ngFor="let item of filterArray; let i = index">{{item}}</ion-select-option>
            </ion-select> -->
        </ion-item>
        <ion-item color="light">
            <ion-label>From:</ion-label>
            <!-- <ion-datetime (ionChange)="filterBehaviors()"></ion-datetime> -->
            <!-- <ion-datetime formControlName="MinDate" monthShortNames='Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic' (ionChange)="filterBehaviors()" displayFormat="DD MMM YYYY"></ion-datetime> -->
        </ion-item>
        <ion-item color="light">
            <ion-label>To:</ion-label>
            <!-- <ion-datetime (ionChange)="filterBehaviors()" ></ion-datetime> -->
            <!-- <ion-datetime formControlName="MaxDate" monthShortNames='Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic' (ionChange)="filterBehaviors()" displayFormat="DD MMM YYYY"></ion-datetime> -->
        </ion-item>
    </form>

    <ion-card button detail (click)="goToEmployee()" class="animated fadeInDown fast">
        <ion-item color="light">
            <!-- <ion-icon name="people-outline" slot="start"></ion-icon> -->
            <ion-label>
                    <b> La Grange </b> - Apr/01/21
            </ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-card-content>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card button detail (click)="goToEmployee()" class="animated fadeInDown fast">
        <ion-item color="light">
            <!-- <ion-icon name="people-outline" slot="start"></ion-icon> -->
            <ion-label>
                    La Grange - Apr/01/21
            </ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
    </ion-card>
    <ion-card button detail (click)="goToEmployee()" class="animated fadeInDown fast">
        <ion-item color="light">
            <!-- <ion-icon name="people-outline" slot="start"></ion-icon> -->
            <ion-label>
                    La Grange - Apr/01/21
            </ion-label>
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-card-content>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </ion-card-content>
    </ion-card>