ion-list{
    background: #f1f0f0;
}

.itemInput{
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

@media (prefers-color-scheme: dark) {   
    ion-list{
        background: #111111;
    }
    .titlePage {
        --background: #222428 !important;
    }

    ion-item {
        --background: #201f1f !important;
    }
}