<ion-card button (click)="goToUrl(card.url)" class="animated fadeInDown fast" *ngIf="!card.urlButtons">
  <ion-item color="light">
      <ion-icon slot="start" [ios]="card.icon + '-outline'" [md]="card.icon + '-outline'"></ion-icon>
      <ion-label>
          {{card.title}}
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
  <ion-card-content>
      {{ card.description}} <br> {{ card.description2 }}
  </ion-card-content>
</ion-card>

<ion-card class="animated fadeInDown fast" *ngIf="card.urlButtons">
  <ion-item color="light">
      <ion-icon slot="start" [ios]="card.icon + '-outline'" [md]="card.icon + '-outline'"></ion-icon>
      <ion-label>
          {{card.title}}
      </ion-label>
  </ion-item>
  <ion-card-content>
      {{ card.description}} <br> {{ card.description2 }} <br><br>
      <ion-row>
        <ion-col class="ion-text-center" *ngFor="let urlButton of card.urlButtons">
          <ion-button class="inventoryStructureButton" shape="round"  (click)="goToUrl(urlButton.url)">
            {{ urlButton.description }}
            <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
    </ion-row>    
  </ion-card-content>
</ion-card>