ion-title,
h3,
p {
    text-align: center;
    font-family: "Segoe UI"
}

h2 {
    margin-bottom: 10px;
}

h5 {
    margin-top: 45px;
}

a {
    color: black;
    font-size: large;
    font-weight: 700;
}

.WelcText {
    margin-top: 80px;
    font-family: "Segoe UI";
    padding-left: 25px;
    padding-right: 25px;
    color: #777575;
}

ion-card {
    margin-top: 50px;
}