ion-fab{
    margin-bottom: 8%;
}

ion-toolbar {
    --border-color: #494949;
    --border-width: 0 0 2px 0;
    text-align: center;
}

ion-segment{
    --background: #f9f9fa;
}
@media (prefers-color-scheme: dark) {
    ion-segment{
        --background: #201f1f;
    }    
}
