<app-toolbar [tittleToolbar]="tittleToolbar" [urlBack]="urlBack"></app-toolbar>

<ion-content>
    <ion-list class="accordion-list animated fadeInDown fast">
        <ion-list-header>
            <button ion-item class="titleButon"  detail-none>
                Stores (<ion-note color="primary">{{storesList.length}}</ion-note>)
            </button>
        </ion-list-header>
        <ion-list>
            <ion-item *ngFor="let store of storesList">
                <ion-label>
                    {{store.name}}
                    <ion-icon button name="create-outline" slot="end" color="primary" (click)="openForm(store)"></ion-icon>
                </ion-label>
            </ion-item>
        </ion-list>
        
    </ion-list>
</ion-content>
