<ion-card color="light">
  <ion-card-header>
      <ion-card-title>{{chartTitle}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="chart-container">
      <ngx-charts-bar-horizontal
        [scheme]="colorScheme"
        [results]="chartDataList"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-horizontal>
    </div>
  </ion-card-content>
</ion-card>
