
    .categoryTitle{
     text-align: left; 
    }
  
  ion-icon{
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
  }
  
  ion-slide{
    overflow-y: scroll;    
    display: block;    
  }
  
  .unitCol{
    text-align: center;
  }
  
