.categoryName{
  text-align: center; 
}

.itemRow {
  border-bottom: 1px solid #cec8c8;
  padding-bottom: 4px
}

.itemRowSwitch {
  border-bottom: 1px solid #cec8c8;
  padding-bottom: 8px
}

.titleSmall{
  font-size: x-small;
}

.categoryTitle{
  border-left: 1px solid #cec8c8;
}

.itemComp{
  border-left: 1px solid #cec8c8;
}

ion-icon{
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
}

ion-slide{
  overflow-y: scroll;    
  display: block;    
}

.unitCol{
  text-align: center;
}

ion-range {
  --height: 10px;
  border: 1px #ccc9c9 solid;
  border-radius: 10px;
}

ion-button {
  width: 10px;
  height: 25px;
}
