.accordion-list{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

ion-list {
    --background: #f4f5f8;
    padding: 0;
}
ion-list-header {
    --background: #f4f5f8;
    padding: 0;
}
ion-item {
    --background: #ffffff;
    padding: 0;
}

.section-active, .section {
    background: #f4f5f8;
    
}

ion-icon {
    margin-top: 2px;
}

