<app-toolbar [tittleToolbar]="tittleToolbar" [urlBack]="urlBack"></app-toolbar>

<ion-content>
    
    <ion-list class="accordion-list animated fadeInDown fast" *ngFor="let categoryList of productsList; let i = index">
        <ion-list-header>
            <button ion-item class="titleButon"  detail-none [ngClass]="{'section-active': categoryList.listOpen, 'section': !categoryList.listOpen}"  (click)="toggleList(i)">
                {{categoryList.category.name}} (<ion-note color="primary">{{categoryList.products.length}}</ion-note>)
                <ion-icon item-left name="chevron-forward" *ngIf="!categoryList.listOpen"></ion-icon>
                <ion-icon item-left name="chevron-down" *ngIf="categoryList.listOpen"></ion-icon>
            </button>
        </ion-list-header>
        <ion-list *ngIf="categoryList.listOpen">
            <ion-item *ngFor="let product of categoryList.products">
                <ion-label>
                    {{product.name}}
                    <ion-icon button name="create-outline" slot="end" color="primary" (click)="openForm(product)"></ion-icon>
                </ion-label>
            </ion-item>
        </ion-list>
        
    </ion-list>
</ion-content>
