ion-list {
    background: #f1f0f0;
    margin: 5px 5px 5px 5px
}

ion-item-divider {
    color: black;
    margin-bottom: 2px;
}

ion-select {
    margin-right: 30%;
}

.itemInput{
    border: solid 1px black;
    border-radius: 6px;
    text-align: center;
}

.categoryTitle{
    text-align: left; 
}

.cancelButton {
    margin: 0 60% 0 5%;
}
.deleteButton {
    margin: 0 40% ;
}

.requiredMsg{
    color: #f77d7d;
}
